* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* Ratko */

/* navigation bar */
.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

/* nav logo and title */
.nav__logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo__img {
  width: 36px;
}

.logo__title {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 1rem;
  color: rgb(59, 59, 59);
}

/* nav links */

.link__list a {
  color: rgb(59, 59, 59);
  padding: 0.53rem 3rem;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.95rem;
}

.link__list {
  display: none;
  position: absolute;
  right: 0;
}

.link__list a:hover {
  color: #e5ae8c;
}

.nav__link:hover > .link__list {
  display: block;
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 100%;
  text-align: center;
}

.nav__link:hover > .link__button {
  color: rgb(59, 59, 59);
}

.link__button {
  background-color: rgba(47, 47, 47, 0);
  color: rgb(59, 59, 59);
  border: none;
  padding: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.link__button:hover {
  color: rgb(51, 51, 51);
}

/* EXPERIMENT */
/* 

/* navigation after 900px screen width */
@media screen and (min-width: 900px) {
  .link__button {
    display: none;
  }

  .link__list {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .link__list a {
    padding: 1rem 1rem;
  }

  .link__list a:hover {
    color: #e5ae8c;
  }

  .nav__link:hover > .link__list {
    display: flex;
    box-shadow: none;
    background-color: transparent;
  }

  .nav__logo {
    padding: 0.45rem;
  }
}

/* header hero image */
header {
  background: url(./images/alpaca-hero-image-blueSky.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 5rem;
  color: #000000bc;
  padding-top: 3rem;
}

.hero-text {
  max-width: 500px;
  margin: auto;
}

/* general  rules */
.sec-01__title,
.sec-02__title {
  margin: 2rem auto;
}

.sec-01__text {
  max-width: 1000px;
  font-weight: 400;
  font-size: 0.8rem;
}

.sec-03__title {
  margin: 2rem auto;
}

/* styling for all images in first 3 sections */

.R-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* section Farm(02) grid layout */

.sec-01__text {
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem auto;
  width: 90%;
}

.sec-02 {
  padding: 1rem 0 8rem 0;
  margin-top: 5rem;
}

.sec-02__grid-box {
  display: grid;
  grid-template-columns: minmax(200px, 600px);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  grid-gap: 1.2rem;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .sec-02__grid-box {
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    max-width: 1400px;
  }
}

/* section Alpacas(03) */
.sec-03 {
  margin: 2rem auto;
}

.sec-03__wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapper__item {
  width: 150px;
  margin: auto 1.8rem;
}

.item__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item__title {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1rem;
}

/* Arty */

/* GUIDED TOURS SECTION */

* {
  /* outline: 1px solid red; */
}

.Guided-tours__section {
  background: rgb(104, 123, 136);
  background: linear-gradient(
    180deg,
    rgba(78, 110, 133, 0.863) 10%,
    rgba(155, 202, 235, 0) 100%
  );
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
  background-image: url(./images/farm/Alpacas_black_white.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.Guided-tours__title {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 0;
  color: rgb(36, 36, 36);
}

.Guided-tours {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 90%;
}

.Guided-tours__card {
  padding: 1.3rem 2rem;
  background-color: #fbfbfb;
  max-width: 500px;
  margin: 0 auto 2rem auto;
  border-radius: 3px;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  /* box-shadow: -2px 0 20px rgba(0, 0, 0, 0.2); */
  transition: 0.5s ease;
}

.Guided-tours__card--two {
  position: relative;
}

.Guided-tours__card--two::before {
  content: "Most booked";
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 9%;
  left: -1%;
  color: white;
  background-color: #4e3b30;
}

.Guided-tours__card h4 {
  text-align: center;
  padding-bottom: 0.7rem;
  color: #3b2d25;
  text-transform: uppercase;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.Guided-tours__text-container > * + * {
  margin: 2rem 0;
  line-height: 1.5rem;
  font-size: 15px;
}

.Guided-tours__text-container ul {
  padding-left: 1.2rem;
}

.Guided-tours__book-now-container__button {
  display: block;
  text-decoration: none;
  background-color: white;
  color: #4e3b30;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  background-color: #e5ae8c;
  border-radius: 3px;
}

.Guided-tours__book-now-container__button:hover {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .Guided-tours {
    flex-direction: row;
    padding: 0 3rem;
  }

  .Guided-tours__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    margin: 0 1rem;
  }

  .Guided-tours__card--two {
    transform: scale(1.06);
  }

  .Guided-tours__card--two::before {
    padding: 0.3rem 0.9rem;
    top: 7%;
    left: -1%;
  }

  .Guided-tours__card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease;
    transform: scale(1.08);
    font-size: 17px;
  }
}

/* ACCOMMODATION SECTION */

.accommodation__section {
  background-color: #f9f9f9;
  width: 100%;
}

.accommodation__title {
  text-align: center;
  margin: 5rem auto 2rem auto;
  padding: 1rem 0;
  background-color: #f9f9f9;
}

.accommodation {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.accommodation__card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.accommodation__image-container {
  height: 250px;
}

.accommodation__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accommodation__card h4 {
  text-align: center;
  margin: 1rem 0;
  color: #3b2d25;
  text-transform: uppercase;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.accommodation__card p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #818181;
}

@media only screen and (min-width: 904px) {
  .accommodation__card--two {
    margin: 0 2rem;
  }
}

/* BOOKING OFFER */

.booking-offer {
  width: 90%;
  margin: 0 auto;
}

.booking-offer p {
  margin: 2.5rem 2rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 2rem;
  color: #252525;
}

@media only screen and (min-width: 904px) {
  .booking-offer p {
    margin: 3rem 7rem;
  }
}

.booking-offer__book-now-container {
  text-align: center;
  width: 100%;
}

.booking-offer__book-now-button {
  display: block;
  text-decoration: none;
  background-color: white;
  color: #4e3b30;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 300px;
  text-align: center;
  line-height: 2.7rem;
  text-transform: uppercase;
  margin: 3rem auto;
  background-color: #e5ae8c;
  border-radius: 3px;
}

.booking-offer__book-now-button:hover {
  color: white;
  font-size: 17px;
  transition: 0.2s ease;
}

/* Gary */

.farm-shop {
  margin: 6rem auto;
}

.farm-shop__title {
  text-align: center;
  margin-bottom: 2rem;
}

.farm-shop__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  width: 90%;
  margin: auto;
}

.wrapper__card {
  width: 400px;
  margin: 0.7rem;
  border-radius: 3px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 250px;
}

.card__body {
  width: 100%;
  margin: auto;
}

.body__title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.2rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.body__text {
  margin-top: 1rem;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #818181;
}

/* Form */

.form__shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 90%;
  max-width: 900px;
  margin: 3rem auto;
  height: 100%;
  padding: 0.1rem;
  background-color: #9c9c9c10;
}

.form {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}

input,
textarea {
  padding: 1rem;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-top: 0.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  resize: none;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  font-family: "montserrat", sans-serif;
}

.textarea {
  height: 200px;
}

input[type="submit"] {
  transition: 0.3s ease;
  background-color: #e5ae8c;
  width: 60%;
  max-width: 300px;
  height: 40px;
  margin: 2rem auto;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 8px;
  color: #3d3d3dca;
  font-weight: 600;
  display: block;
}

input[type="submit"]:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px inset,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px inset;
}

input[type="submit"]:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s ease;
  color: white;
}

input:focus,
.textarea:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px inset,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px inset;
}

.form__label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #3d3d3de8;
  margin: 0.9rem 0 -0.5rem 0.3rem;
  display: block;
  text-transform: capitalize;
}

/* Footer */

footer {
  background-color: #292729;
  color: #ffffff;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  width: 80%;
  padding: 5rem 0 9rem 0;
}

.foot span {
  display: block;
}

.foot__box {
  max-width: 22%;
  min-width: 300px;
  margin: 1rem;
}

.box2__title,
.box3__title,
.box4__title {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

/* Box1 */
.box1__img {
  width: 45px;
  float: left;
}

.box1__title1 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Montserrat";
}

.box1__title2 {
  margin-top: -0.5rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #e5ae8c;
  font-family: "Playfair Display";
  font-weight: 500;
}

.box1__text {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ffffff;
  margin: 1rem 0;
  text-transform: capitalize;
  width: 70%;
}

.box1__social-icons i {
  font-size: 1.1rem;
  margin-right: 0.6rem;
  transition: 0.5s ease;
}

.box1__social-icons i:hover {
  color: #e5ae8c;
  cursor: pointer;
  transform: scale(1.3);
}

/* Box2 */

.box2__list {
  width: 20%;
}

.box2__list a {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.box2__list a:hover {
  color: #e5ae8c;
}

/* box3 */

.foot__box3 img {
  width: 90px;
}

/* Box4 */
.box4__search-wrap {
  position: relative;
}

.box4__search-bar {
  width: 70%;
  overflow: hidden;
  background-color: rgb(19, 19, 19);
  font-size: 0.7rem;
  height: 45px;
}

button[type="submit"] {
  width: 30%;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e5ae8c;
  border: none;
  outline: none;
  border-radius: none;
  color: #202020;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

.box4__text {
  margin-top: 2rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ffffff;
  text-transform: capitalize;
}
