* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
 }

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* Ratko */

/* navigation bar */
.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(169, 169, 169, 0.377);
  border-bottom: rgb(47, 47, 47) solid 1px;
}

/* nav logo and title */
.nav__logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo__img {
  width: 36px;
}

.logo__title {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 1rem;
  /* color: rgb(223, 223, 223); */
  color: black; 
}

/* nav links */

.nav__link:hover > .link__list {
  display: block;
}

.nav__link:hover > .link__button {
  background-color: rgba(47, 47, 47, 0.308);
}

.link__button {
  background-color: rgba(47, 47, 47, 0);
  color: rgb(223, 223, 223);
  border: none;
  padding: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.link__button:hover {
  color: rgb(209, 209, 208);
}

.link__list {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(44, 44, 44, 0.308);
}

.link__list a {
  /* color: rgb(230, 230, 230); */
  color: black;
  padding: 0.53rem 3rem;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.95rem; 
}

.link__list a:hover {
  background-color: rgba(47, 47, 47, 0.698);
}

/* EXPERIMENT */
/* navigation after 900px screen width */
@media screen and (min-width: 900px) {
  .link__button {
    display: none;
  }

  .link__list {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .nav__link:hover > .link__list {
    display: flex;
  }

  .link__list a:hover {
    background-color: rgba(47, 47, 47, 0.144);
  }

  .nav__logo {
    padding: 0.45rem;
  }

  .link__list a {
    padding: 1rem 1rem;
  }
}

/* header hero image */
header {
  background: url(./images/farm/willian-justen-de-vasconcellos-ulUnRNuC_ok-unsplash.jpg);
  height: 100vh;
  background-size: cover;
}

.hero-title {
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: 6rem;
  color: #ffd49d6e;
  padding-top: 3rem;
}

/* general  rules */
.sec-01__title,
.sec-02__title {
  margin: 2rem auto;
}

.sec-03__title {
  margin-top: 4rem;
}

/* styling for all images in first 3 sections */

.R-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

/* section Farm(02) grid layout */
.sec-02 {
  padding: 1rem 0 4rem 0;
  margin-top: 10rem;
  background: linear-gradient(
    to bottom,
    #fffaf5,
    #fff5e9,
    #fff6ec,
    #fff8f1,
    #fffaf5,
    #ffffff
  );
}

.sec-02__grid-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 1025px) {
  .sec-02__grid-box {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-box {
  height: 350px;
  transition: 0.5s ease;
}

.grid-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s ease;
  transform: scale(1.01);
}

/* section Alpacas(03) flex images */
.sec-03 {
  margin: 5rem auto;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #fff8f0,
    #fff3e3,
    #fff8f0,
    #ffffff
  );
}

.sec-03__wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper__item {
  width: 150px;
  margin: 1rem;
  transition: 0.5s ease;
}

.item__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper__item:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.item__title {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1rem;
}


/* Arty */

/* GUIDED TOURS SECTION */

* {
  /* outline: 1px solid red; */
}

.Guided-tours__section{
  background: rgb(65, 105, 133);
background: linear-gradient(180deg, rgba(0,65,112,0.8631827731092436) 10%, rgba(155,202,235,0) 100%);
border-top: 3px solid darkgray; 
}

.Guided-tours__title {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 0;  
  color: white; 
}

.Guided-tours {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Guided-tours__card {
  padding: 2.2rem;
  background-color: #fbfbfb;
  border-radius: 1rem;
  max-width: 500px;
  margin: 0 auto 2rem auto; 
  width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: -2px 0 20px rgba(0, 0, 0, 0.2)  ; 
  transition: 0.5s ease;
}

.Guided-tours__card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s ease;
  transform: scale(1.08);
}

.Guided-tours__card h4 {
  text-align: center;
  padding-bottom: 0.7rem;
}

.Guided-tours__text-container > * + *{
  margin: 2rem 0;
  line-height: 1.5rem;
}

.Guided-tours__text-container ul {
  padding-left: 1.2rem;
}

.Guided-tours__card--two {
  position: relative; 
} 

.Guided-tours__card--two::before {
  content: "Most booked";
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem; 
  text-transform: uppercase;
  position: absolute;
  top: 9%;
  left: -1%; 
  color: white; 
  background-color: #4e3b30;
}

.Guided-tours__book-now-container__button {
  display: block;
  text-decoration: none;
  background-color: white;
  color: #4e3b30;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 0.6rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  border: 2px solid #E5AE8C; 
}

.Guided-tours__book-now-container__button:hover {
  background-color: #E5AE8C;
}

@media only screen and (min-width: 1024px) {

  .Guided-tours {
    flex-direction: row;
    padding: 0 3rem; 
  }

  .Guided-tours__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 600px;
  }

  .Guided-tours__card--two {
    margin: 0 1.5rem; 
  }

  .Guided-tours__card--two::before {
    padding: 0.3rem 0.9rem; 
    top: 6%;
    left: -1%; 
  }

}

/* ACCOMMODATION SECTION */


.sec-01__text {
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem auto;
  width: 90%;
}

.accommodation__title {
  text-align: center;
  margin: 2rem auto ;
  padding: 1rem 0;  
}

.accommodation {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.accommodation__card { 
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem auto; 
}

.accommodation__image-container {
  height: 250px;
}

.accommodation__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accommodation__card h4 {
  text-align: center;
  margin: 1rem 0;  
  color: #3b2d25;
}

.accommodation__card p {
  text-align: center;
  line-height: 1.5rem;
  color: rgb(99, 99, 99);
}

@media only screen and (min-width: 1024px) {

  .accommodation {
    flex-direction: row;
  }

  .accommodation__card {
    width: 500px;
  }

  .accommodation__card--two {
    margin: 0 1.5rem; 
  }
}

/* BOOKING OFFER */

.booking-offer {
  width: 90%;
  margin: 0 auto; 
}

.booking-offer p {
  margin: 5rem 2rem; 
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  color: #818181;
}

.booking-offer__book-now-container {
  text-align: center;
  width: 100%;
}

.booking-offer__book-now-button {
  display: block;
  text-decoration: none;
  background-color: white;
  color: #4e3b30;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  text-align: center;
  border-radius: 0.5rem;
  line-height: 2.7rem;
  text-transform: uppercase;
  margin: 3rem auto; 
  border: 2px solid #E5AE8C; 
}

.booking-offer__book-now-button:hover {
  background-color: #E5AE8C; 
}

/* Gary */

/*  FARM SHOP  */


/* h2 {
  text-align: center;
  padding: 35px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  text-align: center;
  margin-bottom: 145px;
}

.flex-container {
  background-color: #f4dcce;
}

.img {
  width: 325px;
  height: auto;
  object-fit: cover;
  margin: 10px;
}

/* FORM */
/* 
* {
  box-sizing: border-box;
}

H3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  width: 55%;
  background-color: #e5ae8c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9f9691;
}

.container {
  border-radius: 5px;
  background-color: #fdf9f6;
  padding: 15px;
  margin-bottom: 55px;
  margin-right: 10px;
  margin-left: 10px;
}

/* FOOTER */

/* .footer {
  position: ;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e5ae8c;
  color: #7f8b93;
  text-align: center;
  height: 35px;
}   */


